.App{
    background: linear-gradient(to left, #FC9483, #FD5DA8);
    height: 100vh;
    width: 100%;
}

.Heart-Area{
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Heart-Area li{
    position: absolute;
    display: block;
    list-style: none;
    background-color: white;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.Heart-Area li:before{
    position: absolute;
    content: '';
    background-color: white;
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 75px 75px 0 0;
}
.Heart-Area li:after{
    position: absolute;
    content: '';
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    top: 20%;
    right: 79%;
    border-radius: 75px 75px 0 0;
}

.Heart-Area li:nth-child(1){
    left: 16%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
}

.Heart-Area li:nth-child(2){
    left: 32%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.Heart-Area li:nth-child(3){
    left: 48%;
    width: 150px;
    height: 150px;
    animation-delay: 5.5s;
}

.Heart-Area li:nth-child(4){
    left: 64%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.Heart-Area li:nth-child(5){
    left: 80%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}

.Heart-Area li:nth-child(6){
    left: 96%;
    width: 50px;
    height: 50px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}